/* Đặt chiều rộng và chiều cao cố định cho Dialog */
.custom-dialog .p-dialog {
    width: 800px !important; /* Thay đổi kích thước chiều rộng */
    height: 800px !important; /* Thay đổi kích thước chiều cao */
    border-radius: 20px !important; /* Bo tròn góc */
  }
  